<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- enables annotation based configuration -->
    <context:annotation-config></context:annotation-config>

    <!-- scans for annotated classes in the com.company package -->
    <!--公共的要扫描的类，所有环境都必须-->
    <context:component-scan base-package="com.springmvc.learn.config"/>

    <beans profile="dev">

        <context:property-placeholder
                location="classpath:properties/application-default.properties, classpath:properties/application-dev.properties"
                ignore-unresolvable="true"/>

        <!--dev环境下所要读取的类-->
        <context:component-scan base-package="com.springmvc.learn.env.dev"/>

    </beans>

    <beans profile="fat">
        <context:property-placeholder
                location="classpath:properties/application-default.properties,classpath:properties/application-fat.properties"
                ignore-unresolvable="true"/>

        <context:component-scan base-package="com.springmvc.learn.env.fat"/>

    </beans>

    <beans profile="uat">
        <context:property-placeholder
                location="classpath:properties/application-uat.properties, classpath:properties/application-default.properties"
                ignore-unresolvable="true"/>

        <context:component-scan base-package="com.springmvc.learn.env.uat"/>

    </beans>

    <beans profile="prd">
        <context:property-placeholder
                location="classpath:properties/application-default.properties, classpath:properties/application-prd.properties"
                ignore-unresolvable="true"/>

        <context:component-scan base-package="com.springmvc.learn.env.prd"/>

    </beans>

</beans>