<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="tortoise" class="com.springmvc.learn.env.bean.Tortoise"></bean>
    <bean id="rabbit" class="com.springmvc.learn.env.bean.Rabbit"></bean>

    <context:property-placeholder
            location="
         classpath*:app-${envTarget}.properties"/>

</beans>